<!DOCTYPE html>
<html>
<head>
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% load static %}  {# Load the static template tag library #}
  <link rel="stylesheet" href="{% static 'css/black-dashboard.min.css' %}">  {# Include the theme's CSS file #}

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'expense_list' %}">Expense Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'expense_list' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_expense' %}">Add Expense</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-4">
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static 'js/black-dashboard.min.js' %}"></script>  {# Include the theme's JavaScript file #}
</body>
</html>
